*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
    font-family: Arial,sans-serif
}
header{
    backgrounnd: #3500f5
    padding: 15px 30px
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.nav-links a:hover{
    color: #f39c12;
}

.hero{
    background: 
    url('https://piscum.photos/1200/600? supermarket')
    no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}
.hero h1{
    font-size: 48px;
}
.hero p{
    margin: 20px 0;
    font-size: 20px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #f39c12;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn :hover{
    background: #d35400;
}
.about,.contacts,.services{
    padding: 60px 20px;
    text-align: center;
}
.about p{
    max-width: 600px;
    margin: 20px auto;
}

.services,.service-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.card{
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    transition: transform 0.3s;
}
.card :hover{
    transform: translateY(-5px);
}

.contacts p{
    margin: 10px 0;
}
footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
}